<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.StudentMapper">
	<select id="selectStudentList" resultType="goodee.gdj58.online.vo.Student" parameterType="map">
		SELECT student_no studentNo, student_id studentId, student_name studentName 
		FROM student 
		<where>
			<if test="searchWord != '' ">
				student_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY studentNo DESC LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<insert id="addStudent" parameterType="goodee.gdj58.online.vo.Student" >
		INSERT INTO student(student_id, student_name, student_pw)VALUES(#{studentId}, #{studentName}, PASSWORD(#{studentPw}))
	</insert>
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM student WHERE student_no=#{studentNo};
	</delete>
	
	<select id="loginStudent" parameterType="goodee.gdj58.online.vo.Student" resultType= "goodee.gdj58.online.vo.Student">
		SELECT student_id studentId, student_name studentName, student_no studentNo WHERE student_id=#{studentId} AND student_pw=PASSWORD(#{studentPw})
	</select>
		<select id="countStu" resultType="int" parameterType="java.lang.String">
		SELECT
			COUNT(*)
		FROM student
		<where>
			<if test="searchWord != '' ">
				student_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>	
	</select>
	
</mapper>