<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TeacherMapper">
	<select id="selectTeacherList" resultType="goodee.gdj58.online.vo.Teacher" parameterType="map">
		SELECT teacher_no teacherNo, teacher_id teacherId, teacher_name teacherName 
		FROM teacher
		<where>
			<if test="searchWord != '' ">
				teacher_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where> 
		ORDER BY teacherNo DESC LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<insert id="addTeacher" parameterType="goodee.gdj58.online.vo.Teacher" >
		INSERT INTO teacher(teacher_id, teacher_name, teacher_pw)VALUES(#{teacherId}, #{teacherName}, PASSWORD(#{teacherPw}))
	</insert>
	<delete id="deleteTeacher" parameterType="int">
		DELETE FROM teacher WHERE teacher_no=#{teacherNo};
	</delete>
	
	<select id="loginTeacher" parameterType="goodee.gdj58.online.vo.Teacher" resultType= "goodee.gdj58.online.vo.Teacher">
		SELECT teacher_id teacherId, teacher_name teacherName, teacher_no teacherNo WHERE teacher_id=#{teacherId} AND teacher_pw=PASSWORD(#{teacherPw})
	</select>
	<select id="countTea" resultType="int" parameterType="java.lang.String">
		SELECT
			COUNT(*)
		FROM teacher
		<where>
			<if test="searchWord != '' ">
				teacher_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>	
	</select>
	
</mapper>